<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Pig Latinizer! </h1>
    <form class="" action="/piglatinize" method="post">
      Enter your phrase: <input type="text" name="user_phrase" value="">
    </form>
  </body>
</html>
